.main-pic {
  position: relative;
  background: url(logo.svg) no-repeat top left;
  background-size: contain;
}
.linkTo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 44px;
  height: 44px;
}
div {
  width: 1400px;
  height: 100vh;
  margin: 0px 20px;
  height: auto;
  border-collapse: none;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ffffff;
}

h1 {
  margin: 0px;
  padding: 0px;
  text-align: left;
}
button {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-left: 100px;
  text-decoration: none;
  max-width: 250px;
  max-height: 0px;
  color: black;
  border: 0 transparent;
  border-radius: 50px;
  background-color: rgba(100, 185, 219, 0.2);
  padding: 0px;
  text-align: center;
}
button:hover {
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translate(-50%, -50%);
  background-color: rgba(100, 185, 219, 1);
  color: black;
}
span {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
