<!DOCTYPE html>
<html>
<head>
  <link href= '/entree/verify.module.css' rel="stylesheet" type="text/css"></link>
</head>
<body>
    <div>
        <li>
            <picture>
                <source srcset="/photos/logo.svg" class="main-pic"></source>
            </picture>
        </li>
        <li>
            <a href='https://project-yummy-b.onrender.com/main' class="linkTo" alt="Logo"></a>
        </li>
        <span>
                <button>Verify</button>
        </span>
    </div>
</body>
</html>