<!DOCTYPE html>
<html>
<head>
  <link href= '/entree/verify.module.css' rel="stylesheet" type="text/css"></link>
  <style>
    div {
    margin: 0;
    border-collapse: none;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ffffff;
  }
  
  h1 {
    margin: 0px;
    padding: 0px;
    text-align: left;
    
  }
  button {
    display: flex;
    align-items: center;
    margin-top: 70px;
    margin-left: 100px;
    text-decoration: none;
    max-width: 250px;
    max-height: 0px;
    color: black;
    border: 0 transparent;
    border-radius: 50px;
    background-color: rgba(100, 185, 219, 0.2);
    padding: 0px;
    text-align: center;
    
}
button:hover {
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translate(-50%, -50%);
  background-color: rgba(100, 185, 219, 1);
  color: black;
}
span {
display: flex;
align-items: center;
justify-content: center;
list-style-type: none;
}
 
  </style>
</head>
<body>
    <div>
        <span>
            <button>Verify</button>
        </span>
    </div>
</body>
</html>