<!DOCTYPE html>
<html>
<head>
  <link href= '/entree/verify.css' rel="stylesheet" type="text/css"></link>
</head>
<body>
    <div>
        <li>
            <svg width="44" height="44" xmlns="http://www.w3.org/1999/xlink" class="main-pic">
                <image xlink:href="http://www.w3.org/1999/xlink" ></image>
            </svg>
        </li>
        <li>
            <a href='https://project-yummy-b.onrender.com/main' class="linkTo" alt="Logo"></a>
        </li>
        <span>
                <button>Verify</button>
        </span>
    </div>
</body>
</html>