<!DOCTYPE html>
<html>
<head>
  <link href= '/entree/verify.module.css' rel="stylesheet" type="text/css"></link>
</head>
<body>
    <div>
        <span>
            <button>Verify</button>
        </span>
    </div>
</body>
</html>